<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    
    <main style="display: flex; flex-wrap:wrap;">
        <% productos.forEach(producto => { %>
        <div class="card mb-3 w-21" style="max-width: 540px; margin-top: 5%; margin-left:1%; ">
              <div style="display: flex;">
                <div class="card-body" style="margin-top: 5px;">
                    <% producto.images.forEach(imageUrl => { %>
                        <img src="<%= imageUrl %>" class="card-img-top">
                    <% }) %>
                  <h5 class="card-title"><%= producto.title %></h5>
                  <p class="card-text"><%= producto.description %></p>
                  <p class="card-text">Precio: $<%= producto.price %></p>
                  <p class="card-text">Categoría: <%= producto.category.name %></p>
                  <button type="submit" class="btn btn-primary"><i class="bi bi-cart4"> Agregar al carrito</i></button>
                </div>
              </div>
          </div>
          
        <% }) %>

        
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    

</body>

</html>